
   /* .header_img {
     background-image: url('./components/Card/img/pizzaHeader.jpg');
     background-size: cover;
     width: 100vw;
   }  */
   

/* .bg_image{
    background-image: url('./components/Card/img/pizzafundo.jpg');
    background-size: cover;
    width: 100vw;
  } */


